@charset "UTF-8";

/*Versão Mobile First*/

/*Cores
- #37123C
- #A5B5BF
- #38686A */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: #37123ce0;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    width: 250px;
    height: 500px;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#imagem {
    background: url(../imagens/imagem.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    width: 300px;
    height: 210px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-bottom: -4px;
}

#formulario {
    text-align: center;
    background-color: white;
    height: 265px;
    width: 280px;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

h1 {
    font-size: 22px;
    font-weight: 900;
}

#formulario > p {
    font-size: 13px;
    text-align: left;
    width: 98%;
    padding: 5px;
}

.form {
    margin: auto;
    width: 98%;
    height: 30px;
    background-color: #4d1b53ec;
    border-radius: 10px;
    padding: 4px;
    text-align: left;
    margin-bottom: 5px;
}

.form > input {
    position: absolute;
    background-color: #81d5da;
    border-radius: 8px;
    width: 227px;
    margin-left: 5px;
    margin-top: -2px;
    padding: 9px;
    border: none;
}

.botao > input {
    width: 100%;
    margin: auto;
    background-color: #6bb2b6;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 5px;
    border: none;
    font-size: 15px;
    color: rgb(245, 242, 242);
}

.botao > input:hover {
    cursor: pointer;
    background-color: #335b5e;
    transition: .5s;
}

.material-symbols-outlined {
    color: rgba(255, 255, 255, 0.884);
}

@media screen and (min-width: 768px) and (max-width: 990px) {

    body {
        background-image: linear-gradient(to top, #37123C, #A5B5BF);
    }

    #login {
        width: 700px;
        height: 250px;
    }

    #imagem > img {
        height: 500px;
    }

    #formulario {
        position: absolute;
        right: -1px;
        top: -10px;
        height: 280px;
        width: 480px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 20px;
    }

    .form > input {
        width: 84%;
    }
}

@media screen and (min-width: 990px) {
    main {
        background-position: left center;
        transform: translateY(50%);
        width: 800px;
        height: 200px;
    }

    div {
        position: absolute;
        top: -100px;
        float: left;
        width: 400px;
        height: 280px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
       }

    .form > input {
        width: 81%;
    }
}