@charset "UTF-8";

/*Versão Mobile First*/

/*Cores
- #37123C
- #A5B5BF
- #38686A */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: #37123ce0;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /*pra ficar no centro certinho tem que fazer no main*/
}

#login {
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#imagem {
    background: url(../imagens/imagem.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    width: 300px;
    height: 200px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-bottom: -4px;
}

#formulario {
    text-align: center;
    background-color: white;
    height: 260px;
    width: 280px;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

h1 {
    font-size: 22px;
    font-weight: 900;
}

#formulario > p {
    font-size: 13px;
    text-align: left;
    width: 98%;
    padding: 5px;
}

.form {
    width: 98%;
    height: 30px;
    background-color: #4d1b53ec;
    border-radius: 10px;
    padding: 4px;
    text-align: left;
    margin-bottom: 5px;
}

.form > input {
    position: absolute;
    background-color: #81d5da;
    border-radius: 8px;
    width: 227px;
    margin-left: 5px;
    margin-top: -2px;
    padding: 9px;
    border: none;
}

.botao > input {
    width: 100%;
    background-color: #6bb2b6;
    border-radius: 5px;
    padding: 8px;
    margin-top: 1px;
    margin-bottom: 5px;
    border: none;
    font-size: 15px;
    color: rgb(245, 242, 242);
}

.botao > input:hover {
    cursor: pointer;
    background-color: #335b5e;
    transition: .5s;
}

.material-symbols-outlined {
    color: rgba(255, 255, 255, 0.884);
}

@media screen and (min-width: 768px) and (max-width: 990px) {
    
    body {
        background-image: linear-gradient(to top, #37123C, #A5B5BF);
    }

    #login {
    display: flex;
   }

   #formulario {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    width: 350px;
   }

   #imagem {
    height: 280px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    width: 250px;
    background-position: right bottom;
   }

   .form > input {
    width: 297px;
   }


}

@media screen and (min-width: 990px) {
        
    body {
        background-image: linear-gradient(to top, #37123C, #A5B5BF);
    }
    
    #login {
        display: flex;
        flex-direction: row-reverse;
    }
    
    #formulario {
        border-top-left-radius: 20px;
        border-bottom-right-radius: 0px;
        width: 350px;
       }
    
       #imagem {
        height: 280px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 20px;
        width: 250px;
        background-position: left top;
       }
    
       .form > input {
        width: 297px;
       }
}